@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ballina, Tipperary<br />
    Ireland<br />
</address>

<address>
    <strong>Email: </strong><a href="mailto:cassidy.lynn.ryan@gmail.com">Cassidy.Lynn.Ryan@gmail.com</a><br />
    <strong>Github: </strong><a href="https://github.com/CBullockRyan">CBullockRyan</a><br />
    <strong>LinkedIn: </strong><a href="https://linkedin.com/in/CBullockRyan">Cassidy Ryan</a>
</address>